#chart.container{ style: 'height: 400px; width: 100%;' }

:javascript
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var jsonData = $.ajax({
              url: "/trades/chart-data",
              dataType:"json",
              async: false
              }).responseText;

    // Create our data table out of JSON data loaded from server.
    var data = new google.visualization.DataTable(jsonData);

    var options = {
      title: 'Average BTC Price in USD'
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart'));
    chart.draw(data, options);
  }